@import "_defaultSetting.scss";

#main-aside {
	padding: 12px;
	z-index: 300;
  nav {
    padding-right: 12px;
    box-sizing: border-box;
    hr {
      margin: 12px 0px;
    }
  }
}

@media screen and (max-width: 1200px){
  #main-aside {
    nav {
      padding-right: 4px;
    }
    .aside-menu {
      min-width: 0;
      .menu-text {
        display: none;
        min-width: 0;
      }
      .menu-icon {
        width: 100%;
      }
    }
  }
}

.aside-menu {
  height: 40px;
  padding-right: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--yt-gray);
  }

  a {
    min-width: 100%;
		.menu-icon {
			width: 25%;
			height: 100%;
			.aside-icon {
				width: 24px;
				height: 24px;
        padding: 0px 12px;
				img {
					border-radius: 50%;
				}
			}
    }
    .menu-text {
      padding: 0px 12px;
    }
  }

  .menu-text {
    width: 75%;
    height: 100%;
    font-size: 14px;
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#main-aside {
  nav{
    p {
      color: var(--yt-text-gray);
      line-height: 18px;
      padding: 12px;

      #copyright {
        color: #909090;
      }
    }
  }
}