@import "_defaultSetting.scss";

:root{
	--header-height: 56px;
	--aside-width: 224px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: var(--default-font);

	#wrap {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;

		#main-header {
			width: 100%;
			height: var(--header-height);
		}

		#main-aside {
			width: var(--aside-width);
			height: calc(100vh - var(--header-height));
			overflow-x: hidden;
			overflow-y: scroll;
			box-sizing: border-box;
		}

		#main {
			flex-grow: 1;
			height: calc(100vh - var(--header-height));;
			overflow-x: hidden;
			overflow-y: scroll;
			box-sizing: border-box;
		}
	}
}