@import "_defaultSetting.scss";

:root{
	--header-height: 56px;
	--aside-width: 224px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: var(--default-font);

	#wrap {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;

		#main-header {
			min-width: 100%;
			min-height: var(--header-height);
		}

		#main-aside {
			min-height: calc(100% - var(--header-height));
			min-width: var(--aside-width);
		}

		#main {
			min-width: calc(100% - var(--aside-width));
			min-height: calc(100% - var(--header-height));
		}
	}
}