@import "_layout.scss";
@import "_header.scss";
@import "_videoAside.scss";

#video-main-wrapper {
  width: 100%;
  height: calc(100vh - var(--header-height));

  #video-main {
    margin: 0 auto;
    #video-section {
      display: flex;
      flex-direction: column;
    }
    #video-aside {
      width: 402px;
    }
  }
}