@import "../_defaultSetting.scss";

#main-aside {
	padding: 12px;
	z-index: 300;
  nav {
    padding-right: 12px;
    box-sizing: border-box;
    hr {
      margin: 12px 0px;
    }
  }
}

@media screen and (max-width: 1297px){
  #main-aside {
    padding-right: 0px;
    nav {
      height: auto;
      padding-right: 0px;
      box-sizing: border-box;

      ul, hr, p {
        display: none;
      }
      .main-menus {
        display: block;
      }
      .aside-menu {
        flex-direction: column;
        padding-right: 0px;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 0px; 
          .menu-icon {
            width: 100%;
          }
          .menu-text {
            display: none;
          }
        }
      }
    }
  }
}

.aside-menu {
  height: 40px;
  padding-right: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--yt-gray);
  }

  a {
    min-width: 100%;
		.menu-icon {
			width: 25%;
			height: 100%;
			.aside-icon {
				width: 24px;
				height: 24px;
        padding: 0px 12px;
				img {
					border-radius: 50%;
				}
			}
    }
    .menu-text {
      padding: 0px 12px;
    }
  }

  .menu-text {
    width: 75%;
    height: 100%;
    font-size: 14px;
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#main-aside {
  nav{
    p {
      color: var(--yt-text-gray);
      line-height: 18px;
      padding: 12px;

      #copyright {
        color: #909090;
      }
    }
  }
}