@import "../_defaultSetting.scss";

#video-section-wrapper {
  #video-wrapper {
    #video {
      min-width: 436px;
      min-height: 245px;
      max-width: 1280px;
      max-height: 720px;
      aspect-ratio: 16/9;
      background-color: red;
    }
  }
  #video-info-wrapper {
    width: 100%;
    #video-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin: 12px 0px;
    }
    #video-info {
      width: 100%;
      #video-meta-data {
        display: flex;
        justify-content: space-between;
        #video-left-meta-data {
          display: flex;
          #uploader-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 12px;
          }
          #uploader-meta-data {
            display: flex;
            flex-direction: column;
            margin-right: 24px;
            #uploader-name {
              line-height: 22px;
              font-size: 16px;
              font-weight: 500;
            }
            #subscriber {
              line-height: 18px;
              font-size: 12px;
              color: var(--yt-text-gray);
            }
          }
          #subscribe {
            padding: 0px 16px;
            height: 36px;
            background-color: black;
            color: white;
            font-size: 14px;
            border-radius: 18px;
            border: none;
            cursor: pointer;
          }
        }
        #video-right-meta-data {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          button {
            cursor: pointer;
            border: none;
            border-radius: 18px;
            background-color: var(--yt-sub-gray);
            font-size: 14px;
            line-height: 36px;
            &:hover {
              background-color: var(--yt-darker-gray);
            }
            img {
              width: 16px;
              height: 16px;
              margin: auto 0px;
            }
          }
          #video-meta-more {
            width: 36px;
            height: 36px;
            margin-left: 12px;
          }
          #video-meta-share {
            width: 84px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 12px;
          }
          #like-dislike {
            height: 36px;
            display: flex;
            #video-like {
              width: 86px;
              border-radius: 18px 0px 0px 18px;
              position: relative;
              right: -12px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              margin-left: 12px;
            }
            #video-dislike {
              width: 52px;
              border-radius: 0px 18px 18px 0px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              margin-left: 12px;
            }
          }
        }
      }
      #video-explain {
        font-size: 14px;
        line-height: 20px;
        margin-top: 24px;
        padding: 12px;
        border-radius: 12px;
        background-color: var(--yt-sub-gray);
        &:hover {
          background-color: var(--yt-darker-gray);
        }
      }
    }
  }
  #comment-wrapper {
    margin-top: 24px;
    #comment-header {
      display: flex;
      margin-bottom: 24px;
      #num-of-comments {
        margin-right: 24px;
        line-height: 24px;
        font-size: 16px;
      }
      #sort-by {
        display: flex;
        border: none;
        background-color: transparent;
        #sort-by-icon {
          width: 24px;
          height: 24px;
        }
        span {
          line-height: 24px;
          font-size: 14px;
        }
      }
    }
    
    #comment-section {
      #comment-form {
        display: flex;
        #comment-input-wrapper {
          width: 100%;
          margin-bottom: 24px;
          #comment-input {
            &:placeholder-shown {
              
            }
            width: calc(100% - 30px);
            outline: none;
            border: none;
            border-bottom: 0.5px var(--yt-darker-gray) solid;
            font-size: 14px;
            line-height: 20px;
            padding: 3.5px 0px;
            &:focus {
              border: none;
              border-bottom: 2px black solid;
            }
            
          }
          #comment-buttons {
            border: none;
            float: right;
            margin-right: 30px;
            margin-top: 9px;
            button {
              line-height: 36px;
              padding: 0px 16px;
              border-radius: 18px;
              font-size: 14px;
              border: none;
            }
            #cancel-comment {
              background-color: transparent;
              margin-right: 8px;
              cursor: pointer;
              &:hover {
                background-color: var(--yt-darker-gray);
              }
              &:active {
                background-color: #b6b6b6;
              }
            }
            #upload-comment {
              background-color: #0556BF;
              color: white;
              cursor: pointer;
              &:hover {
                background-color: #0650b1;
              }
              &:active {
                background-color: #3778CC;
              }
              &:disabled {
                background-color: #F2F2F2;
                color: var(--yt-text-gray);
                cursor: default;
              }
            }
          }
        }
      }

      #comment-list {
        padding-right: 30px;
        .comment {
          display: flex;
          margin-bottom: 24px;
          &:hover {
            .comment-more-wrapper {
              .comment-more {
                display: block;
              }
            }
          }
          .comment-content-wrapper {
            font-size: 14px;
            line-height: 20px;
            flex: 1;
            .comment-uploader-and-date-before {
              .comment-uploader {
                font-size: 13px;
                font-weight: 550;
              }
              .comment-date-before {
                font-size: 12px;
                color: var(--yt-text-gray);
              }
            }
            .comment-functions {
              display: flex;
              button {
                border: none;
                border-radius: 18px;
                line-height: 32px;
                font-size: 12px;
                display: flex;
                padding: 1px 8px;
                margin-right: 8px;
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                &:hover {
                  background-color: var(--yt-darker-gray);
                }
                img {
                  width: 18px;
                  height: 18px;
                }
              }
              .comment-like {
                position: relative;
                margin-right: 42px;
                .comment-num-of-like {
                  position: absolute;
                  left: calc(100% + 4px);
                  width: 30px;
                }
              }
              .post-reply-comment {
                padding: 1px 12px;
              }
            }
          }
          .comment-more-wrapper {
            width: 40px;
            .comment-more {
              width: 24px;
              height: 24px;
              float: right;
              padding-top: 12px;
              display: none;
            }
          }
        }
      }
    }
  } 
}
