@charset "UTF-8";
:root {
  --yt-gray: #e5e5e5;
  --yt-sub-gray: #F8F8F8;
  --yt-darker-gray: #D9D9D9;
  --yt-text-gray: #606060;
  --default-font: "Roboto", "Arial", sans-serif;
}

.flex, #main-header #header-right-menus, #main-header #header-center-menus, #main-header #header-left-menus, #main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --yt-gray: #e5e5e5;
  --yt-sub-gray: #F8F8F8;
  --yt-darker-gray: #D9D9D9;
  --yt-text-gray: #606060;
  --default-font: "Roboto", "Arial", sans-serif;
}

.flex, #main-header #header-right-menus, #main-header #header-center-menus, #main-header #header-left-menus, #main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --header-height: 56px;
  --aside-width: 240px;
  --aside-small-width: 72px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: var(--default-font);
}
html #wrap, body #wrap {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
html #wrap #main-header, body #wrap #main-header {
  position: sticky;
  width: 100%;
  height: var(--header-height);
}
html #wrap #main-aside, body #wrap #main-aside {
  padding-right: 10px;
  width: var(--aside-width);
  height: calc(100vh - var(--header-height));
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
html #wrap #main-aside::-webkit-scrollbar, body #wrap #main-aside::-webkit-scrollbar {
  width: 0px;
}
html #wrap #main-aside:hover, body #wrap #main-aside:hover {
  padding-right: 0px;
}
html #wrap #main-aside:hover::-webkit-scrollbar, body #wrap #main-aside:hover::-webkit-scrollbar {
  width: 10px;
}
html #wrap #main-aside::-webkit-scrollbar-track, body #wrap #main-aside::-webkit-scrollbar-track {
  background-color: none;
}
html #wrap #main-aside::-webkit-scrollbar-thumb, body #wrap #main-aside::-webkit-scrollbar-thumb {
  background: var(--yt-darker-gray);
  border-radius: 10px;
}
html #wrap #main, body #wrap #main {
  padding-right: 10px;
  flex-grow: 1;
  width: calc(100% - var(--aside-width));
  height: calc(100vh - var(--header-height));
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
html #wrap #main::-webkit-scrollbar, body #wrap #main::-webkit-scrollbar {
  width: 0px;
}
html #wrap #main:hover, body #wrap #main:hover {
  padding-right: 0px;
}
html #wrap #main:hover::-webkit-scrollbar, body #wrap #main:hover::-webkit-scrollbar {
  width: 10px;
}
html #wrap #main::-webkit-scrollbar-track, body #wrap #main::-webkit-scrollbar-track {
  background-color: none;
}
html #wrap #main::-webkit-scrollbar-thumb, body #wrap #main::-webkit-scrollbar-thumb {
  background: var(--yt-darker-gray);
  border-radius: 10px;
}
@media screen and (max-width: 1297px) {
  html #wrap #main-aside, body #wrap #main-aside {
    width: var(--aside-small-width);
  }
  html #wrap #main, body #wrap #main {
    width: calc(100% - var(--aside-small-width));
  }
}

:root {
  --yt-gray: #e5e5e5;
  --yt-sub-gray: #F8F8F8;
  --yt-darker-gray: #D9D9D9;
  --yt-text-gray: #606060;
  --default-font: "Roboto", "Arial", sans-serif;
}

.flex, #main-header #header-right-menus, #main-header #header-center-menus, #main-header #header-left-menus, #main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header {
  padding: 0px 16px;
  box-sizing: border-box;
  z-index: 500;
}
.header-icon, #header-center-menus #mic-icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  margin-right: 8px;
  position: relative;
}
.header-icon:hover, #header-center-menus #mic-icon:hover {
  background-color: var(--yt-gray);
  border-radius: 50%;
}
.header-icon:hover::after, #header-center-menus #mic-icon:hover::after {
  content: "설명";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  box-sizing: content-box;
  padding: 8px 5px;
  background-color: #3d3d3d;
  opacity: 0.6;
  border-radius: 10%;
  color: white;
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: center;
  line-height: 100%;
}

#header-left-menus #header-logo {
  width: 90px;
  height: 20px;
  padding: 18px 14px 18px 16px;
}

#header-center-menus {
  width: 40%;
  max-width: 640px;
  height: 38px;
  justify-content: flex-start;
}
#header-center-menus #search-layout {
  height: 100%;
  border: 0.8px solid var(--yt-darker-gray);
  border-radius: 40px 0px 0px 40px;
  flex: 1;
  display: flex;
  position: relative;
  padding: 0px 10px 0px 20px;
}
#header-center-menus #search-layout form {
  width: calc(100% - 40px);
  height: calc(100% - 10px);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
}
#header-center-menus #search-layout form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}
#header-center-menus #search-layout img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
}
#header-center-menus #search-btn {
  width: 62px;
  height: calc(100% + 2px);
  background-color: var(--yt-sub-gray);
  border: 1px solid var(--yt-darker-gray);
  border-radius: 0px 40px 40px 0px;
  padding: 6px 6px;
  margin-right: 10px;
  position: relative;
}
#header-center-menus #search-btn:hover {
  background-color: var(--yt-darker-gray);
}
#header-center-menus #search-btn:hover::after {
  content: "설명";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  box-sizing: content-box;
  padding: 8px 5px;
  background-color: #3d3d3d;
  opacity: 0.6;
  border-radius: 10%;
  color: white;
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: center;
  line-height: 100%;
}
#header-center-menus #mic-icon {
  background-color: #f2f2f2;
  border-radius: 50%;
}
#header-center-menus #mic-icon:hover {
  background-color: var(--yt-darker-gray);
}

#header-right-menus .user-icon {
  margin: 0px 14px;
}
#header-right-menus .user-icon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#video-aside {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 3000px;
}
#video-aside .aside-items-wrapper .aside-item {
  width: 100%;
}

.aside-video-item {
  width: 100%;
  height: 94px;
  display: flex;
}
.aside-video-item .aside-video-thumbnail {
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
}
.aside-video-item .aside-video-info {
  flex: 1;
  padding-left: 8px;
  background-color: pink;
}
.aside-video-item .aside-video-info .aside-video-title {
  font-size: 14px;
  margin-bottom: 4px;
  white-space: wrap;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.aside-video-item .aside-video-info .aside-video-detail {
  font-size: 12px;
  color: var(--yt-text-gray);
  line-height: 18px;
}
.aside-video-item .aside-video-info .aside-video-detail .upload {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.aside-video-item .aside-video-info .aside-video-detail .upload-before::before {
  content: "•";
  margin: 0px 2px;
}
.aside-video-item .video-more-wrapper {
  width: 24px;
  background-color: aqua;
}
.aside-video-item .video-more-wrapper .video-more {
  width: 24px;
  height: 24px;
}

#video-section-wrapper #video-wrapper #video {
  min-width: 640px;
  min-height: 320px;
  max-width: 1280px;
  max-height: 720px;
  aspect-ratio: 16/9;
  background-color: red;
}
#video-section-wrapper #video-info-wrapper {
  width: 100%;
}
#video-section-wrapper #video-info-wrapper #video-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 12px 0px;
}
#video-section-wrapper #video-info-wrapper #video-info {
  width: 100%;
  height: 43px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data {
  display: flex;
  justify-content: space-between;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-left-meta-data {
  display: flex;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-left-meta-data #uploader-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-left-meta-data #uploader-meta-data {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-left-meta-data #uploader-meta-data #uploader-name {
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-left-meta-data #uploader-meta-data #subscriber {
  line-height: 18px;
  font-size: 12px;
  color: var(--yt-text-gray);
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-left-meta-data #subscribe {
  padding: 0px 16px;
  height: 36px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data button {
  cursor: pointer;
  border: none;
  border-radius: 18px;
  background-color: var(--yt-sub-gray);
  font-size: 14px;
  line-height: 36px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data button:hover {
  background-color: var(--yt-darker-gray);
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data button img {
  width: 16px;
  height: 16px;
  margin: auto 0px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data #video-meta-more {
  width: 36px;
  height: 36px;
  margin-left: 12px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data #video-meta-share {
  width: 84px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 12px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data #like-dislike {
  height: 36px;
  display: flex;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data #like-dislike #video-like {
  width: 86px;
  border-radius: 18px 0px 0px 18px;
  position: relative;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 12px;
}
#video-section-wrapper #video-info-wrapper #video-info #video-meta-data #video-right-meta-data #like-dislike #video-dislike {
  width: 52px;
  border-radius: 0px 18px 18px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 12px;
}

#video-main-wrapper {
  width: 100%;
  height: calc(100vh - var(--header-height));
}
#video-main-wrapper #video-main {
  display: flex;
  margin: 0 auto;
}
#video-main-wrapper #video-main #video-section-wrapper {
  width: calc(100% - 426px);
  height: 3000px;
  padding: 24px;
}
#video-main-wrapper #video-main #video-aside-wrapper {
  width: 426px;
  height: 3000px;
  padding: 24px 24px 0px 0px;
}
#video-main-wrapper #video-main #video-aside-wrapper #aside-items-wrapper {
  width: 100%;
}/*# sourceMappingURL=videoStyle.css.map */