@import "../_defaultSetting.scss";
@import "../_layout.scss";
@import "../_header.scss";
@import "_videoAside.scss";
@import "_videoSection.scss";

#video-main-wrapper {
  width: 100%;
  height: calc(100vh - var(--header-height));

  #video-main {
    display: flex;
    margin: 0 auto;
    #video-section-wrapper {
      width: calc(100% - 426px);
      padding: 24px;
    }
    #video-aside-wrapper {
      width: 426px;
      padding: 24px 24px 0px 0px;
      #aside-items-wrapper {
        width: 100%;
      }
    }
  }
}